<h1>Edita tu perfil</h1>

    <div class="fichaEditarPerfil">

        <form action="/profile/edit" method="POST" enctype="multipart/form-data">

            <h5><label for="username">Username: </label></h5>
            <p><input type="text" name="username" value="{{foundUser.username}}"></p>

            
            <h5><label for="email">Email: </label></h5>
            <p><input type="email" name="email" value="{{foundUser.email}}"></p>

           
            <h5><label for="name">Nombre: </label></h5>
            <p><input type="text" name="name" value="{{foundUser.name}}"></p>

            
            <h5><label for="city">Ciudad: </label></h5>
            <p><input type="text" name="city" value="{{foundUser.city}}"></p>

            
            <h5><label for="birthYear">Fecha de nacimiento: </label></h5>
            <p><input type="date" name="birthYear" value="{{foundUser.birthYear}}"></p>

            
            <h5><label for="aboutMe">Sobre mi: </label></h5>
            <p><textarea name="aboutMe">{{foundUser.aboutMe}}</textarea></p>

           
            <h5><label for="image">Imagen de perfil: </label></h5>
            <p><input type="file" name="image" value="{{foundUser.image}}"></p>


            
            <div class = "contenedorDet">

                <button type="submit" class="btnDetaPerfil">Actualizar Datos</button>
            
            </div>


        </form>


    </div>


