<h1>Editar Película</h1>

<div class="editarPelícula">

    <form action="/movies/{{editMovie._id}}/edit" method="POST" enctype="multipart/form-data">

        <h5><label for="title">Title: </label></h5>
        <p><input type="text" name="title" value="{{editMovie.title}}"></p>

     
        <h5><label for="director">Director: </label></h5>
        <p><input type="text" name="director" value="{{editMovie.director}}"></p>

        
        <h5><label for="cast"> Reparto: </label></h5>
        {{!-- <select name="cast" multiple="true">
            {{#each allCast}}
            <option value="{{this.id}}">{{this.name}}</option>

            {{/each}}
        </select> --}}
        <p><input type="text" name="cast" value="{{editMovie.cast}}"></p>

        
        <h5><label for="plot">Argumento: </label></h5>
        <p><textarea name="plot">{{editMovie.plot}}</textarea></p>

        
        <h5><label for="year">Año: </label></h5>
        <p><input type="number" name="year" value="{{editMovie.year}}"></p>

        
        <h5><label for="cover">Carátula: </h5>
           <p><input type="file" name="cover">
           <p><input type="text" name="existingImage" hidden value="{{editMovie.cover}}"></p></p>
        </label>


            

        <div class = "contenedorDet">
        
            <button type="submit"  class="btnDeta">Actualizar</button>
        
    </form>
        
        

            <form action="/movies/{{editMovie._id}}/delete" method="POST">

                <button class="btnDeta">Eliminar</button>

            </form>
        
        
        </div>
        
</div>

    