{{!-- <h1>Detalles de la Película</h1> --}}

<div class="fichaDetalles">


<aside>
<img src="{{movieDetails.cover}}" alt="{{movieDetails.title}} Cover" style="height: 500px" class="imgDetalles">
{{#if userIsActive}}
<br>

{{/if}}
<br>
<h2>{{movieDetails.title}}</h2>
<br>
<h5>Director:</h5> <p>{{movieDetails.director}}</p>
<br>
<h5>Reparto:</h5>
{{#each movieDetails.cast}}
<p>{{this}}</p>
{{/each}}
<br>
<h5>Argumento:</h5>
<p>{{movieDetails.plot}}</p>
<br>
<h5>Año:</aside></h5> <p>{{movieDetails.year}}</p>

</aside>
<br>
{{!-- {{movieDetails.owner}} --}}



{{#if editMovieCreated}}
<button><a href="/movies/{{movieDetails._id}}/edit">Editar</a></button>

<form action="/movies/{{movieDetails._id}}/delete" method="POST">
{{!-- <button>Borrar</button> --}}

<div>
    <button class="btnDeta">Borrar</button>
</div>



</form>
{{else}}
<p>Esta película ha sido creada por el usuario: "
{{#each movieOwner}}
{{this.username}}
{{/each}}
"</p>

{{/if}}

<form action="/profile/favorites/{{movieDetails._id}}" method="POST">
<button>Favoritos</button>
</form>

</form>


{{!-- MODIFICARRRRR!!!!! --}}
{{!-- <iframe id="inlineFrameExample"
    title="Inline Frame Example"
    width="200"
    height="200"
    src="https://www.youtube.com/embed/ZwKhufmMxko">

</iframe> --}}
 
</div>


